<?xml version="1.0"?>
<config>
    <modules>
        <StackExchange_DisableSearchBySku>
            <version>1.1.0</version>
        </StackExchange_DisableSearchBySku>
    </modules>
    <global>
        <helpers>
            <stackexchange_disablesearchbysku>
                <class>StackExchange_DisableSearchBySku_Helper</class>
            </stackexchange_disablesearchbysku>
        </helpers>
        <models>
            <stackexchange_disablesearchbysku>
                <class>StackExchange_DisableSearchBySku_Model</class>
            </stackexchange_disablesearchbysku>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_layout_render_before_catalogsearch_result_index>
                <observers>
                    <stackexchange_disablesearchbysku>
                        <type>singleton</type>
                        <class>stackexchange_disablesearchbysku/observer</class>
                        <method>disableSkuSearch</method>
                    </stackexchange_disablesearchbysku>
                </observers>
            </controller_action_layout_render_before_catalogsearch_result_index>
            <controller_action_layout_render_before_catalogsearch_advanced_result>
                <observers>
                    <stackexchange_disablesearchbysku>
                        <type>singleton</type>
                        <model>stackexchange_disablesearchbysku/observer</model>
                        <method>disableSkuSearch</method>
                    </stackexchange_disablesearchbysku>
                </observers>
            </controller_action_layout_render_before_catalogsearch_advanced_result>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <stackexchange_disablesearchbysku>
                    <files>
                        <default>StackExchange_DisableSearchBySku.csv</default>
                    </files>
                </stackexchange_disablesearchbysku>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <catalog>
            <frontend>
                <disable_sku_search>0</disable_sku_search>
            </frontend>
        </catalog>
    </default>
</config>